extends layout

block content

	.container
		#photo-board.jumbotron

		.row#home-rows
			.col-md-4
				.panel.panel-default.panel-blue
					.panel-heading.text-center Teamspeak Server
					.panel-body.text-center
						div(style='font-size: 30px') ts.mcwar.us
			.col-md-4
				.panel.panel-default.panel-blue
					.panel-heading.text-center Minecraft Server
					.panel-body.text-center
						div(style='font-size: 30px') mcwar.us
			.col-md-4
				.panel.panel-default.panel-blue
					.panel-heading.text-center Donate
					.panel-body.text-center
						div(style='font-size: 30px')
							a(href='http://store.mcwar.us/' target='_blank') store.mcwar.us