doctype html
html
	head
		title= 'warzone leaderboards'
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='MCWAR.US')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
		link(rel='stylesheet', href='/stylesheets/animate.css')
		link(rel='stylesheet', href='/stylesheets/oldStyle.css')
		script(src='/javascripts/nav.js')

	body
		block content
