extends layout

block content
	.row
		.col-sm-3.col-md-2
			p.text-center
				img(src='https://crafatar.com/renders/body/b0802027-503c-4233-8536-54419039cb73')
		.col-sm-9.col-md-10
			div
				span(style='font-size: 36px; margin-right: 10px') Unable to find player!
			div
				span(style='font-size: 27px; margin-right: 10px') Are you sure they have played here?
			
